<div class="big-card">
  <div class="big-card-img">
    <img src="https://source.unsplash.com/random/600x300" alt="" />
  </div>
  <div class="big-card-content">
    <a href="">
      <span>22/10/2023</span>
      <h2>Title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nihil
        quae aliquam sapiente accusamus ut eveniet sequi eligendi, neque aperiam
        odio porro deserunt ad saepe, reprehenderit voluptates soluta culpa
        quisquam?
      </p>
    </a>
  </div>
</div>
