.big-card {
  width: 40rem;

  .big-card-img {
    width: -moz-fit-content;
    width: fit-content;

    > img {
      transition: transform .2s;
      max-width: 100%;
      height: auto;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .big-card-content {
    > a {

      :nth-child(1n):hover {
        color: rgb(201, 201, 201);
      }

      > span {
        font-size: small;
        color: var(--decoration-color);
      }
    }
  }
}
