.big-card {
  width: 40rem;

  .big-card-img {
    width: -moz-fit-content;
    width: fit-content;

    > img {
      max-width: 100%;
      height: auto;
    }
  }

  .big-card-content {
    > span {
      font-size: small;
      color: var(--decoration-color);
    }
  }
}
