<div class="content-cover">
  <div class="content-cover-img">
    <img src="https://source.unsplash.com/random/600x500" alt="">
  </div>
  <div class="content-cover-description">
    <span>Created in: 22/10/2023</span>
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio necessitatibus quas quis eaque nostrum impedit sed cumque placeat quae! Nesciunt ab corporis neque eos sint quod obcaecati, dolorum libero ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, consectetur dignissimos delectus cupiditate itaque ipsam quidem veniam libero, omnis sunt temporibus dolore, numquam incidunt perferendis suscipit sequi consequuntur quaerat. Quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quia impedit ut nostrum odit rem, vitae tempora nobis. Officia accusamus sequi eius quisquam odio maiores eaque sapiente eum, soluta deserunt! Lorem</p>
  </div>
</div>
