.small-card {
  display: flex;

  .small-card-img {
    width: 15rem;
    min-width: 15rem;

    > img {
      max-width: 100%;
      height: auto;
    }
  }

  .small-card-content {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    > span {
      font-size: small;
      color: var(--decoration-color);
    }
  }
}
