:root {
  --background-color: #121212;
  --font-color: #aaaaaa;
  --decoration-color: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
  a {
    text-decoration: none;
  }
}
